@font-face {
    font-family: 'Headline';
    src: url('../fonts/Co-Headline-Corp.ttf'),
    url('../fonts/Co-Headline-Corp-Bold.ttf'),
    url('../fonts/Co-Headline-Corp-Light.ttf');
}
body {
    font-family: 'Headline', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
    color: #e74c3c;
}
a:focus, a:hover {
    text-decoration: none;
    color: #68251B;
}
.header-main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-time {
    display: flex;
    align-items: center;
}
.logo-block-header img {
    width: 100%;
}
.header-address {
    font-size: 20px;
}
.header-address img {
    width: 26px;
}
.header-address span {
    border-bottom: 1px solid #333;
}
.header-time-img img {
    width: 70px;
    margin-right: 15px;
}
.header-time-text {
    font-weight: bold;
    color: #e74c3c;
}
.header-cart-link img {
    width: 100%;
}
.header-cart-link {
    width: 80px;
    position: relative;
}
.header-cart-link button {
    background-color: transparent;
    border: none;
    outline: none;
}
.header-social-item img {
    width: 40px;
}
.header-social-item img:first-child {
    margin-bottom: 20px;
}
.header-cart-title, .header-cart-price {
    text-align: center;
    font-weight: bold;
}
.header-cart-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}
.header-cart-price {
    color: #e74c3c;
}
.header-feedback-phone {
    text-align: center;
}
.header-feedback-phone a {
    color: #e74c3c;
    font-size: 36px;
}
.header-feedback-phone a:hover {
    color: #7E2820;
}
.logo-block-header {
    width: 150px;
}
.red-back-block {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li > a span {
    display: block;
}
.navbar-default .navbar-nav > li > a img {
    height: 40px;
    margin-top: 10px;
}
.navbar-nav > li:hover a::after, .navbar-nav > li > a:focus::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #e74c3c;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #e74c3c;
    transform: scale(1.5);
}
.title-block-hidden {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.main-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.title-block-hidden:before, .title-block-hidden:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e74c3c;
}
.title-block-hidden:before {
    margin-left: -100%;
    left: -14px;
}
.title-block-hidden:after {
    margin-right: -100%;
    right: -14px;
}
.main-page-content {
    margin: 40px 0;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 991px) {
    .logo-block-header {
        width: 111px;
    }
    .header-address {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .header-address img {
        width: 18px;
    }
    .header-time-img img {
        width: 60px;
    }
    .navbar-nav > li {
        font-size: 14px;
    }
    .navbar-default .navbar-nav > li > a img {
        height: 30px;
    }
    .nav > li > a {
        padding: 10px 10px;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
        margin-bottom: 15px;
        border: none;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .header-main-page {
        flex-wrap: wrap;
    }
    .logo-block-header {
        width: 30%;
        margin: 0 15px 15px 0;
    }
    .header-address-block {
        margin: 0 15px 15px 0;
    }
    .header-feedback {
        width: 30%;
        text-align: center;
    }
    .header-social {
        display: flex;
    }
    .header-social-item img:first-child {
        margin-right: 20px;
    }
}
@media(max-width: 400px) {
    .header-main-page {
        justify-content: center;
    }
    .logo-block-header {
        width: 60%;
        margin: 0 0 15px 0;
    }
    .header-address-block {
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .header-time {
        justify-content: center;
    }
    .header-feedback {
        width: 48%;
    }
    .header-social {
        justify-content: flex-end;
        width: 48%;
    }
    .header-social-item img:first-child {
        margin: 0 0 0 15px;
    }
}